.Contapp{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.Contapp a{
    font-size: 30px;
}

.Cont1{
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.Photoss{
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.carss{
    width: 500px;
    height: 450px;
    border-radius: 100px;
    margin: 7px;
}

.cars1{
    width: 500px;
    height: 450px;
    border-radius: 100px;
}

.instagram{
    color:blueviolet;
}

.facebook{
    color: blue;
}

.whatsapp{
    color: green;
}

.Tit{
    display: flex;
    justify-content: center;
}
.Text{
    background-color:antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.Text p{
    display: flex;
    padding: 9px;
    text-align: center;
}
.trx{
    width: 450px;
    height: 380px;
    border-radius: 10%;
    padding: 11px;
}
.Autor{
    display: flex;
    justify-content: center;
}
.photoautor{
    width: 500px;
    height: 450px;
    border-radius: 10%;
    display: flex;
}
.Autor p{
    text-align: center;
}
.imgg{
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
