.Contapp{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.Contapp a{
    font-size: 30px;
}

.Cont1{
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.Photoss{
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.carss{
    width: 400px;
    height: 400px;
    border-radius: 100px;
}

.cars1{
    width: 500px;
    height: 450px;
    border-radius: 100px;
}

.instagram{
    color:blueviolet;
}

.facebook{
    color: blue;
}

.whatsapp{
    color: green;
}

.Tit{
    display: flex;
    justify-content: center;
}

.Text{
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    text-align: center;
    gap: 10px;
}

.Text p{
    font-size: 20px;
    align-self: center;
}

.TRX{
    width: 400px;
    height: 450px;
    border-radius: 80px;
}

.Autor{
    display: flex;
    background-color:antiquewhite;
    color: black;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    text-align: center;
}

.Autor p{
    font-size: 20px;
    align-self: end;
}

.AV{
    width: 400px;
    height: 450px;
    border-radius: 80px;
    align-self: flex-start;
}
